@import "tailwindcss";


@font-face {
    font-family: 'roboto-100';
    src:  url("Fonts/roboto-v48-latin-100.woff2") format('woff2');
    font-style: normal;
    font-weight: 100;
}



@font-face {
    font-family: 'roboto-200';
    src:  url("Fonts/roboto-v48-latin-200.woff2") format('woff2');
    font-style: normal;
    font-weight: 200;
}



@font-face {
    font-family: 'roboto-300';
    src:  url("Fonts/roboto-v48-latin-300.woff2") format('woff2');
    font-style: normal;
    font-weight: 300;
}


@font-face {
    font-family: 'roboto-500';
    src:  url("Fonts/roboto-v48-latin-500.woff2") format('woff2');
    font-style: normal;
    font-weight: 500;
}


@font-face {
    font-family: 'roboto-600';
    src:  url("Fonts/roboto-v48-latin-600.woff2") format('woff2');
    font-style: normal;
    font-weight: 600;
}


@font-face {
    font-family: 'roboto-700';
    src:  url("Fonts/roboto-v48-latin-700.woff2") format('woff2');
    font-style: normal;
    font-weight: 700;
}


@font-face {
    font-family: 'roboto-800';
    src:  url("Fonts/roboto-v48-latin-800.woff2") format('woff2');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'roboto-900';
    src:  url("Fonts/roboto-v48-latin-900.woff2") format('woff2');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'regular';
    src:  url("Fonts/roboto-v48-latin-regular.woff2") format('woff2');
    font-style: normal;
}



/* The Font Adding Closed Here */



body{
    background-color: #191919;
}

.black{
    background-color: #191919;
}

.white{
    background-color: #fcf1e3;
}

.button button{
    font-family: 'roboto-500';
}

.links{
    font-family: 'roboto-400';
}
.pink{
    color: #c762f4;
}

.part1 h1{
    font-family: 'roboto-500';
    color: #fcf1e3;
}

.card{
    display: flow-root;
}


.chotto_1{
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    bottom: 220px;
    border-top-left-radius: 40px;
    box-shadow: -40px -40px 0px #191919;
}

.chotto_2{
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    left: 0;
    border-top-left-radius: 40px;
    box-shadow: -40px -40px 0px #191919;
}

.chotto_3{
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    left: 0;
    border-top-left-radius: 40px;
    box-shadow: -40px -40px 0px #191919;
}

.card{
    border-top-left-radius: 0;
}

.chotto_4{
    width: 100px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 120px;
    bottom: 320px;
    border-top-left-radius: 20px;
    box-shadow: -20px -20px 0px #191919;
}

.chotto_5{
    position: absolute;
    right: 102px;
    width: 80px;
    height: 50px;
    background-color: transparent;
    border-top-left-radius: 30px;
    box-shadow: -20px -10px 0px #191919;
}

@media (max-width:1440px){
    .chotto_4{
        width: 50px;
    }
}

@media (max-width:1040px){
    .chotto_4{
        width: 35px;
        bottom: 322px;
        left: 120px;
    }
}


@media (max-width:1024px){
    .chotto_4{
        width: 100px;
        bottom: 300px;
    }
    .chotto_1{
        bottom: 220px;
    }
    .chotto_5{
        right: 130px;
    }
}


@media (max-width:875px){
    .chotto_4{
        width: 50px;
    }
}


@media (max-width:1140px){
    .high{
        font-size: 3rem;
    }
}

@media (max-width:905px){
    #hero{
        flex-direction: column;
        align-items: center;
    }
    .part1{
        width: 80%;
    }
    .high{
        text-align: center;
        font-size: 4rem;
    }
    .bar{
        width: 80%;
        margin-left: 80px;
    }
    .paragraph{
        font-size: 0.75rem;
        text-align: center;
    }
    .logos{
        justify-content: space-between;
        /* background-color: #05ffa7; */
        margin-left: 100px;
        align-items: center;
    }
}


@media (max-width:700px){
    .high{
        font-size: 3rem;
    }
    .bar{
        margin-left: 30px;
        width: 100%;
    }
    .paragraph{
        margin-left: 50px;
    }
    .logos{
        margin-left: 80px;
    }

}


@media (max-width:800px){
    .high{
        margin-left: 30px;
    }
}

@media (max-width:550px){
    .bar{
        margin-left: 20px;
    }
    .part1{
        width: 100%;
    }
}

@media (max-width:450px){
    .bar{
        font-size: 0.75rem;
        justify-content: center;
    }
    .high{
        margin-left: 10px;
    }
    .paragraph{
        margin-left: 50px;
        font-size: 0.75rem;
    }
}


@media (max-width:425px){
    .high{
        font-size: 2.5rem;
    }
    .logos{
        width: 100%;
        margin-left: 25px;
    }
}

@media (max-width:895px){
    .chotto_4{
        width: 50px;
        height: 50px;
        bottom: 310px;
        left: 120px;
    }
}

@media (max-width:872px){
    .chotto_4{
        width: 35px;
    }
}

@media (max-width:866px){
    .chotto_4{
        width: 30px;
        left: 119px;
        bottom: 312px;
    }
}

@media (max-width:852px){
    .chotto_4{
        width: 30px;
        bottom: 312px;
        left: 115px;
        height: 50px;
        
    }
}

@media (max-width:837px){
    .chotto_4{
        width: 40px;
        border-top-right-radius: 40px;
    }
    .part2{
        width: 100%;
    }
    .curve_2{
        width: 100%;
    }
    .curve{
        width: 70%;
    }
    .chotto_5{
        width: 70px;
        right: 112px;        
    }
    
}


@media (max-width:585px){
    .chotto_4{
        left: 120px;
    }
}




/* Second Section Start from Here */

.center{
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.center_upper{
    width: 70%;
    height: 80px;
    background-color: blue;
    justify-self: end;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40px 100%);
    z-index: 2;
    position: relative;
    margin-bottom: 0px;
}



.sticky_1{
    width: 60px;
    height: 30px;
    background: transparent;
    justify-self: end;
    margin-top: -1px;
    /* margin-right: 10px; */
    border-top-right-radius: 16px;
    box-shadow: 0px -16px 0px blue;
    position: relative;
    z-index: 6;
    margin-right: 0px;
}

