@import "tailwindcss";


html {
  scroll-behavior: smooth;
}


@font-face {
    font-family: 'roboto-100';
    src:  url("Fonts/roboto-v48-latin-100.woff2") format('woff2');
    font-style: normal;
    font-weight: 100;
}



@font-face {
    font-family: 'roboto-200';
    src:  url("Fonts/roboto-v48-latin-200.woff2") format('woff2');
    font-style: normal;
    font-weight: 200;
}



@font-face {
    font-family: 'roboto-300';
    src:  url("Fonts/roboto-v48-latin-300.woff2") format('woff2');
    font-style: normal;
    font-weight: 300;
}


@font-face {
    font-family: 'roboto-500';
    src:  url("Fonts/roboto-v48-latin-500.woff2") format('woff2');
    font-style: normal;
    font-weight: 500;
}


@font-face {
    font-family: 'roboto-600';
    src:  url("Fonts/roboto-v48-latin-600.woff2") format('woff2');
    font-style: normal;
    font-weight: 600;
}


@font-face {
    font-family: 'roboto-700';
    src:  url("Fonts/roboto-v48-latin-700.woff2") format('woff2');
    font-style: normal;
    font-weight: 700;
}


@font-face {
    font-family: 'roboto-800';
    src:  url("Fonts/roboto-v48-latin-800.woff2") format('woff2');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'roboto-900';
    src:  url("Fonts/roboto-v48-latin-900.woff2") format('woff2');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'regular';
    src:  url("Fonts/roboto-v48-latin-regular.woff2") format('woff2');
    font-style: normal;
}



/* The Font Adding Closed Here */



body{
    background-color: #191919;
}

.black{
    background-color: #191919;
}

.white{
    background-color: #fcf1e3;
}

.button button{
    font-family: 'roboto-500';
}

.links{
    font-family: 'roboto-400';
}
.pink{
    color: #c762f4;
}

.part1 h1{
    font-family: 'roboto-500';
    color: #fcf1e3;
}

.card{
    display: flow-root;
}


.chotto_1{
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    bottom: 220px;
    border-top-left-radius: 40px;
    box-shadow: -40px -40px 0px #191919;
}

.chotto_2{
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    left: 0;
    border-top-left-radius: 40px;
    box-shadow: -40px -40px 0px #191919;
}

.chotto_3{
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    left: 0;
    border-top-left-radius: 40px;
    box-shadow: -40px -40px 0px #191919;
}

.card{
    border-top-left-radius: 0;
}

.chotto_4{
    width: 100px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 120px;
    bottom: 320px;
    border-top-left-radius: 20px;
    box-shadow: -20px -20px 0px #191919;
}

.chotto_5{
    position: absolute;
    right: 102px;
    width: 80px;
    height: 50px;
    background-color: transparent;
    border-top-left-radius: 30px;
    box-shadow: -20px -10px 0px #191919;
}

@media (max-width:1440px){
    .chotto_4{
        width: 50px;
    }
}

@media (max-width:1040px){
    .chotto_4{
        width: 35px;
        bottom: 322px;
        left: 120px;
    }
}


@media (max-width:1024px){
    .chotto_4{
        width: 100px;
        bottom: 300px;
    }
    .chotto_1{
        bottom: 220px;
    }
    .chotto_5{
        right: 130px;
    }
}


@media (max-width:875px){
    .chotto_4{
        width: 50px;
    }
}


@media (max-width:1140px){
    .high{
        font-size: 3rem;
    }
}

@media (max-width:905px){
    #hero{
        flex-direction: column;
        align-items: center;
    }
    .part1{
        width: 80%;
    }
    .high{
        text-align: center;
        font-size: 4rem;
    }
    .bar{
        width: 80%;
        margin-left: 80px;
    }
    .paragraph{
        font-size: 0.75rem;
        text-align: center;
    }
    .logos{
        justify-content: space-between;
        /* background-color: #05ffa7; */
        margin-left: 100px;
        align-items: center;
    }
}


@media (max-width:700px){
    .high{
        font-size: 3rem;
    }
    .bar{
        margin-left: 30px;
        width: 100%;
    }
    .paragraph{
        margin-left: 50px;
    }
    .logos{
        margin-left: 80px;
    }

}


@media (max-width:800px){
    .high{
        margin-left: 30px;
    }
}

@media (max-width:550px){
    .bar{
        margin-left: 20px;
    }
    .part1{
        width: 100%;
    }
}

@media (max-width:450px){
    .bar{
        font-size: 0.75rem;
        justify-content: center;
    }
    .high{
        margin-left: 10px;
    }
    .paragraph{
        margin-left: 50px;
        font-size: 0.75rem;
    }
}


@media (max-width:425px){
    .high{
        font-size: 2.5rem;
    }
    .logos{
        width: 100%;
        margin-left: 25px;
    }
}

@media (max-width:895px){
    .chotto_4{
        width: 50px;
        height: 50px;
        bottom: 310px;
        left: 120px;
    }
}

@media (max-width:872px){
    .chotto_4{
        width: 35px;
    }
}

@media (max-width:866px){
    .chotto_4{
        width: 30px;
        left: 119px;
        bottom: 312px;
    }
}

@media (max-width:852px){
    .chotto_4{
        width: 30px;
        bottom: 312px;
        left: 115px;
        height: 50px;
        
    }
}

@media (max-width:837px){
    .chotto_4{
        width: 40px;
        border-top-right-radius: 40px;
    }
    .part2{
        width: 100%;
    }
    .curve_2{
        width: 100%;
    }
    .curve{
        width: 70%;
    }
    .chotto_5{
        width: 70px;
        right: 112px;        
    }
    
}


@media (max-width:585px){
    .chotto_4{
        left: 120px;
    }
}




/* Second Section Start from Here */

.center{
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: url('assets/of7.jpg');
    background-size: cover;
    background-position: center;
}

.center_upper{
    width: 70%;
    height: 80px;
    background-color: #191919;
    justify-self: end;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40px 100%);
    z-index: 2;
    position: relative;
    margin-bottom: 0px;
}


.teamwork{
    max-width: 900px;
    height: 100px;
    /* background-color: #c762f4; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.member{
    display: flex;
    width: 200px;
    position: relative;
    margin-top: -60px;
}
.member :first-child{
    position: absolute;
    background: url('assets/of1.jpg');
    background-size: cover;
    background-position: center;
    left: 0;
    z-index: 60;
    border: 1px solid #fcf1e3;
}

.member :nth-child(2){
    position: absolute;
    background: url('assets/of2.jpg');
    background-size: cover;
    background-position: center;
    z-index: 61;
    left: 30px;
    border: 1px solid #fcf1e3;
}

.member :nth-child(3){
    position: absolute;
    background: url('assets/of3.jpg');
    background-size: cover;
    background-position: center;
    z-index: 63;
    left: 60px;
    border: 1px solid #fcf1e3;
}



.member :nth-child(4){
    position: absolute;
    background: url('assets/of4.jpg');
    background-size: cover;
    background-position: center;
    z-index: 64;
    left: 90px;
    border: 1px solid #fcf1e3;
}



.member :nth-child(5){
    position: absolute;
    background: url('assets/of5.jpg');
    background-size: cover;
    background-position: center;
    z-index: 65;
    left: 120px;
    border: 1px solid #fcf1e3;
}

.round{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* background-color: blueviolet; */
}

.roundi{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #fcf1e3;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: rotate(90deg);
}


.sticky_1{
    width: 60px;
    height: 30px;
    background: transparent;
    justify-self: end;
    margin-top: -1px;
    /* margin-right: 10px; */
    border-top-right-radius: 16px;
    box-shadow: 0px -16px 0px #191919;
    position: relative;
    z-index: 6;
    margin-right: 0px;
}

@media (max-width: 1024px){
    #team{
        width: 100%;
    }
}


.flexi{
    max-width: 1200px;
    /* background-color: turquoise; */
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    /* align-self: end; */
    margin-top: 150px;
    height: 200px;
}


.flexi_1{
    margin-top: 20px;
    margin-left: 10px;
}


.adv{
    width: 200px;
    height: 100px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-size: 28px;
    color: #fcf1e3;

}


.flexi_2{
    display: flex;
    gap: 20px;
    margin-right: 10px;
}


.flexi_2a{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    background-color: white;
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border-radius: 16px;
}

.flexi_2a h3{
    font-family: 'roboto-500';
}

.flexi_2a p{
    font-family: 'roboto-500';
    font-size: 12px;
}





.flexi_2b{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    background-color: white;
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border-radius: 16px;
}

.flexi_2b h3{
    font-family: 'roboto-500';
}

.flexi_2b p{
    font-family: 'roboto-500';
    font-size: 12px;
}

.hello{
    font-family: 'roboto-500';
    color: #fcf1e3;
    font-size: 1.5rem;
}



@media (max-width:840px){
    .flexi_2{
        flex-direction: column;
        align-items: center;
    }
    .center{
        height: 540px;
    }
    
    .teamwork{
        justify-content: end;
    }
    .roundi{
        width: 40px;
        height: 40px;
        margin-top: -30px;
        margin-right: 20px;
    }
    .roundi img{
        height: 15px;
        width: 15px;
    }
    .teamwork{
        max-width: 800px;
    }

    .center_upper{
        /* margin-right: 70px; */
        width: 80%;
    }
}



@media (max-width:660px){
    .hello{
        font-size: 1rem;
        margin-top: -10px;
    }
    .teamwork{
        gap: 7px;
    }
    .member .round{
        width: 40px;
        height: 40px;
    }
    .roundi{
        margin-left: -20px;
    }
}


@media (max-width:500px){
    .center_upper{
        margin-right: 0px;
    }
    .hello{
        display: none;
    }
}


@media (max-width:560px){
    .flexi{
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
        gap: 20px;
    }
    .flexi_2{
        margin-left: 20px;
    }
    .center{
        height: 600px;
    }
    .center_upper{
        top: 0;
    }
    
}


/* ============= THE END OF LAST SECTION ================= */





/* =============== THE START OF THE THIRD SECTION ================== */



#solutions{
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}


.offer{
    width: 100%;
    height: 570px;
    background-color: chocolate;
    border-radius: 16px;
    margin-top: 10px;
}

.offer_1{
    max-width: 500px;
    height: 100px;
    background-color: #191919;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 40px) 100%, 0% 100%);
    overflow: hidden;
}

.stc1{
    width: 40px;
    height: 30px;
    background-color: transparent;
    border-top-left-radius: 20px;
    box-shadow: -10px -12px 0px #191919;
}

.stc2{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    left: 510px;
    top: 9px;
    border-top-left-radius: 20px;
    box-shadow: -3px -2px 0px #191919;
}

.offer_2{
    width: 100%;
    height: 200px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.offer_2 h1{
    font-size: 3rem;
    color: #fcf1e3;
}


.offer_2 p{
    font-size: 0.8rem;
    color: #fcf1e3;
    margin-bottom: 10px;
    font-family: 'roboto-500';
}

.offer_2 button{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fcf1e3;
    color: #191919;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}


.offer_2 button img{
    transform: rotate(-90deg);
}


.offer_3{
    width: 100%;
    height: 340px;
    background-color: #c862f415;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card1{
    width: 220px;
    height: 340px;
    background-color: #191919;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
    transition: all 600ms ease-in-out;
}

.card2{
    width: 220px;
    height: 340px;
    background-color: #191919;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
    transition: all 600ms ease-in-out;


}

.card3{
    width: 220px;
    height: 340px;
    background-color: #191919;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
    transition: all 600ms ease-in-out;


}



.card4{
    width: 220px;
    height: 340px;
    background-color: #191919;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
    transition: all 600ms ease-in-out;

}


.invisible_1 .gola{
    width: 50px;
    height: 50px;
    background-color: pink;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 5px black;
}

.invisible_1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.invisible_1 h1{
    color: #f1fce3;
    font-size: 1em;
}


.invisible_2 p{
    font-size: 12px;
    color: #f1fce3;
    font-family: 'roboto-300';
}



.invisible_3{
    color: #f1fce3;
    margin-bottom: 20px;
}

.circlo{
    width: 20px;
    height: 20px;
    background-color: #fcf1e3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}


#include{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.ro1{
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 5px;
}


.ro2{
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 5px;
}


.ro3{
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 5px;
}


.invisible_4 button{
    display: flex;
    gap: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #c762f4;
    border-radius: 22px;
    color: #fcf1e3;
    font-size: 16px;
}


#visible{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#visible .gola{
    width: 50px;
    height: 50px;
    background-color: pink;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 5px black;
}


#visible h1{
    color: #f1fce3;
    font-size: 1em;
    font-family: 'roboto-600';
}


#visible button{
    display: flex;
    gap: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #c762f4;
    border-radius: 22px;
    color: #fcf1e3;
    font-size: 16px;
}


/* HOVER EFFECT ON CARD */
#invisible{
    display: none;
}

.card1:hover #visible{
    display: none;
}

.card1:hover #invisible{
    display: block;
}

.card1:hover{
    width: 360px;
    height: 380px;
    transition: all 600ms ease-in-out;
    transform: scale(0.8);
}




.card2:hover #visible{
    display: none;
}

.card2:hover #invisible{
    display: block;
}

.card2:hover{
    width: 360px;
    height: 380px;
    transition: all 600ms ease-in-out;
    transform: scale(0.8);
}



.card3:hover #visible{
    display: none;
}

.card3:hover #invisible{
    display: block;
}

.card3:hover{
    width: 360px;
    height: 380px;
    transition: all 600ms ease-in-out;
    transform: scale(0.8);
}


.card4:hover #visible{
    display: none;
}

.card4:hover #invisible{
    display: block;
}

.card4:hover{
    width: 360px;
    height: 380px;
    transition: all 600ms ease-in-out;
    transform: scale(0.8);
}