@import "tailwindcss";



@font-face {
    font-family: 'roboto-100';
    src: url("../public/Fonts/roboto-v48-latin-100.woff2") format('woff2');
    font-style: normal;
    font-weight: 100;
}



@font-face {
    font-family: 'roboto-200';
    src: url("../public/Fonts/roboto-v48-latin-200.woff2") format('woff2');
    font-style: normal;
    font-weight: 200;
}



@font-face {
    font-family: 'roboto-300';
    src: url("../public/Fonts/roboto-v48-latin-300.woff2") format('woff2');
    font-style: normal;
    font-weight: 300;
}


@font-face {
    font-family: 'roboto-500';
    src: url("../public/Fonts/roboto-v48-latin-500.woff2") format('woff2');
    font-style: normal;
    font-weight: 500;
}


@font-face {
    font-family: 'roboto-600';
    src: url("../public/Fonts/roboto-v48-latin-600.woff2") format('woff2');
    font-style: normal;
    font-weight: 600;
}


@font-face {
    font-family: 'roboto-700';
    src: url("../public/Fonts/roboto-v48-latin-700.woff2") format('woff2');
    font-style: normal;
    font-weight: 700;
}


@font-face {
    font-family: 'roboto-800';
    src: url("../public/Fonts/roboto-v48-latin-800.woff2") format('woff2');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'roboto-900';
    src: url("../public/Fonts/roboto-v48-latin-900.woff2") format('woff2');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'regular';
    src: url("../public/Fonts/roboto-v48-latin-regular.woff2") format('woff2');
    font-style: normal;
}



/* The Font Adding Closed Here */

body{
    background-color: #191919;
}

.black{
    background-color: #191919;
}

.white{
    background-color: #fcf1e3;
}